{% extends "radicards/base.html" %}

{% load dictionary %}

{% block title %}
  Create card
{% endblock title %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'add' %}" method="post">
{% csrf_token %}
<input type="hidden" name="template" value="{{ template.id }}">

<div id="input-fields">
  <div id="sender-fields">
    <h2>You</h2>
  {% for field in fields.sender %}
    <div class="form-field type-{{ types|keyvalue:field }}">
      <label for="sender_{{ field }}">{{ labels|keyvalue:field }}
        {% if field in required.sender %}
          *
        {% endif %}
      </label>
      <input type="{{ types|keyvalue:field }}" name="sender_{{ field }}" id="sender_{ field }}" 
        {% if field in required.sender %}
          required="required"
        {% endif %}
      />
    </div>
  {% endfor %}
  </div>

  <div id="recipient-fields">
    <h2>Your Friend</h2>
  {% for field in fields.recipient %}
    <div class="form-field type-{{ types|keyvalue:field }}">
      <label for="recipient_{{ field }}">{{ labels|keyvalue:field }}
        {% if field in required.recipient %}
          *
        {% endif %}
      </label>
      <input type="{{ types|keyvalue:field }}" name="recipient_{{ field }}" id="recipient_{ field }}" 
        {% if field in required.recipient %}
          required="required"
        {% endif %}
      />
    </div>
  {% endfor %}
  </div>

  {% if fields.message %}
    <div id="message-field" class="form-field type-textarea">
      <label for="message">Message
        {% if required.message %}
          *
        {% endif %}
      </label>
      <textarea name="message" id="message" 
        {% if required.message %}
          required="required"
        {% endif %}
      /></textarea>
    </div>
  {% endif %}

  <input type="submit" value="Send" class="btn"/>
</div>

<div id="card-preview">
  <img src="{{ template.image }}">
  <input type="hidden" name="hash" value="">
</div>

</form>
{% endblock content %}

{% block footer_scripts %}
<script>
  $('textarea[name="message"]').change(function() {update_card();});
  $(document).ready(function() {update_card();});

  function update_card() {
    $('#card-preview').load("/image?template={{ template.id }}&text=" + encodeURIComponent($('textarea[name="message"]').val()));
  }
</script>
{% endblock footer_scripts %}
