{% load dictionary %}

<h1>Create card</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'add' %}" method="post">
{% csrf_token %}
<input type="hidden" name="template" value="{{ template.id }}">

{% for field in fields.sender %}
    <div>
      <label for="sender_{{ field }}">{{ labels|keyvalue:field }}
        {% if field in required.sender %}
          *
        {% endif %}
      </label>
      <input type="{{ types|keyvalue:field }}" name="sender_{{ field }}" id="sender_{ field }}" 
        {% if field in required.sender %}
          required="required"
        {% endif %}
      />
    </div>
{% endfor %}

<input type="submit" value="Vote" />
</form>
