{% extends "radicards/base.html" %}

{% load social_buttons %}

{% block title %}
  View Your Card
{% endblock title %}

{% block og_tags %}
    <meta property="og:title" content="A card for {{ card.recipient.first_name }}">
    <meta property="og:image" content= "{{ media_url }}/cards/{{ card.hashed_id }}.jpg">
    <meta name="twitter:title" content="{{ config.message }}">
    <meta name="twitter:image:src" content="{{ media_url }}/cards/{{ card.hashed_id }}.jpg">
{% endblock og_tags %}

{% block content %}
  <div id="row">
    <div style="float: left;" class=""><img src="{{ media_url }}/cards/{{ card.hashed_id }}.jpg" border="0" class="card-thumbs"></div>      
  </div>
  <div id="output-fields">
    <div id="tag">
      To: {{ card.recipient.first_name }} {{ card.recipient.last_name }}<br>
      From: {{ card.sender.first_name }} {{ card.sender.last_name }}
    </div>
    <hr width=80%>
    <div id="artist-credit">
      {{ card.template.art }}
      {% if card.template.art.artist %}
        by <a href="{% url "artist" card.template.art.artist.id %}">{{ card.template.art.artist }}</a>
      {% endif %}
    </div>
    <hr width=80%>
    <div id="share">
      Share this card:<br>
      {{ shares | render:url | safe }}
    </div>
  </div>
{% endblock content %}
